<% provide(:title,"About") %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <<h1>About</h1>
    <p>
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      is a <a href="https://railstutorail.jp/#ebook">book</a>
    </p>
  </body>
</html>
